.ulogin_provider {
    margin-right: 10px;
    display: inline-block;
}
.can_delete .ulogin_provider {
    cursor: pointer;
}

.ulogin_form .hint {
    color: #999;
    font-size: 12px;
}

.ulogin_form {
    display: inline-block;
    line-height: 1em;
}

.ulogin_accounts .ulogin_provider i {
    display:inline-block;
    vertical-align: middle;
}

.ulogin_accounts .ulogin_provider span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    max-width: 160px;
}

.ulogin_accounts .ulogin_provider {
    min-height: 32px;
    vertical-align: middle;
    margin-bottom: 10px;
}